<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   
 	<form action="/users/form" method="post">
 		<div>
 			账号：<input type="text" name="user" />
 		</div>
 		
 		<div>
 			密码：<input type="text" name="pass" />
 		</div>
 		<input type="submit" value="提交"/>
 	</form>
   
   
  </body>
</html>
